<ion-header>
  <ion-toolbar>
    <ion-title>presentation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="position : relative;">
  <ion-card style="position: relative; left :20%; top:15%; ">
    <img alt="Silhouette of mountains" src= {{presente.image}} />

    <ion-card-header>
      <ion-card-title> {{presente.titre}} </ion-card-title>
      <ion-card-subtitle>description</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    
    </ion-card-content>
  </ion-card>

</ion-content>
