<ion-header>
  <ion-toolbar>
    <ion-title>bateau</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid style="width : 50%;  border : 2px solid red">
    <ion-row style = "position : relative ; margin-bottom: 10px ;"><h3>Nos bateaux patternaires</h3></ion-row>

    <ion-row  style="border : 2px solid red ;margin-bottom : 5px  ; ">
        <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
         <span><img src="assets/icon/deLaBrise_icon.png" height="50"></span> <ion-button fill = "clear">De la Brise</ion-button>
            
        </ion-col>

        <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
          <span><img src="assets/icon/saphir_icon.png" height="50"></span><ion-button fill = "clear">Saphiri </ion-button>

        </ion-col>
    </ion-row>
   

    <ion-row style="border : 2px solid red ;margin-bottom : 5px  ; ">

      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
        <span><img src="assets/icon/gastMicher_icon.png" height="50"></span><ion-button fill = "clear">Gast Micher</ion-button>

      </ion-col>

      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
        <span><img src="assets/icon/aquilon_icon.png" height ="50"></span><ion-button fill = "clear">Aquillon </ion-button>

      </ion-col>

    </ion-row>

    <ion-row style="border : 2px solid red  ;margin-bottom : 5px ; ">
      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
       <span><img src="assets/icon/poulpe.png" height ="50"></span> <ion-button fill = "clear">Contact</ion-button>

      </ion-col>

      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
        <span><img src="assets/icon/poulpe.png" height ="50"></span><ion-button fill = "clear">Contact</ion-button>

      </ion-col>

    </ion-row>      

  </ion-grid>
  
</ion-content>
