<ion-header>
  <ion-toolbar>
    <ion-title>produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style = "border : 2px solid orange; width: 50%;">
      <ion-row style= "border : 2px  solid red; margin-bottom : 5px; height : 30% ;">
        <ion-col>
         <span><img src="assets/icon/poulpe.png" height="35"></span><ion-button fill = "clear" (click) = "onClickProduit('poisson')">Poissons </ion-button>
        </ion-col>
        
      </ion-row>
      <ion-row style= "border : 2px  solid red; margin-bottom : 5px; height : 30% ;">
        <ion-col>
        <span><img src="assets/icon/poulpe.png" height="35"></span><ion-button fill = "clear" (click) = "onClickProduit('coquillage')">Coquillages</ion-button>
        </ion-col>
        
      </ion-row>
      <ion-row style= "border : 2px  solid red; margin-bottom : 5px; height : 30% ;">
        <ion-col>
       <span><img src="assets/icon/poulpe.png" height="35"></span><ion-button fill = "clear" (click) = "onClickProduit('crustaces')">Crustacés</ion-button>
        </ion-col>
        
      </ion-row>


      <ion-row style= "border : 2px  solid red; margin-bottom : 5px; height : 30% ;">
        <ion-col>
        <span><img src="assets/icon/poulpe.png" height="35"></span><ion-button fill = "clear" (click) = "onClickProduit('promotion')">Promotions</ion-button>
        </ion-col>
        
      </ion-row>
    </ion-grid>
</ion-content>
