<ion-header>
  <ion-toolbar>
    <ion-title>restaurant</ion-title>
  </ion-toolbar>
</ion-header>

      

<ion-content>

  <ion-grid style="width : 50%;  border : 2px solid red">
    <ion-row style = "position : relative ; margin-bottom: 10px ;"><h3>Restaurant paternaires</h3></ion-row>

    <ion-row  style="border : 2px solid red ;margin-bottom : 5px  ; ">
        <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
          <ion-button fill = "clear" (click) = "onClickRestaurant('gascons')"> Bistrot des Gascons</ion-button>
            
        </ion-col>

        <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
          <ion-button fill = "clear" (click) = "onClickRestaurant('fou')">Les fous de l'ile </ion-button>

        </ion-col>
    </ion-row>
   

    <ion-row style="border : 2px solid red ;margin-bottom : 5px  ; ">

      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
        <ion-button fill = "clear" (click) = "onClickRestaurant('bristo')">Bistrot Landais</ion-button>

      </ion-col>

      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
        <ion-button fill = "clear" (click) = "onClickRestaurant('villa')">Villa 9-Trois </ion-button>

      </ion-col>

    </ion-row>

    <ion-row style="border : 2px solid red  ;margin-bottom : 5px ; ">
      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
        <ion-button fill = "clear" (click) = "onClickRestaurant('fou')">Bistrot du Sommelier</ion-button>

      </ion-col>

      <ion-col style = "border : 2px solid orange ; margin-left : 5px ; ">
        <ion-button fill = "clear" (click) = "onClickRestaurant('fou')">Devenez paternaire!</ion-button>

      </ion-col>

    </ion-row>      

  </ion-grid>
</ion-content>
